@font-face {
    font-family: 'GeneralSans';
    src:  url('/assets/fonts/sans/GeneralSans-Extralight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeneralSans';
    src: url('/assets/fonts/sans/GeneralSans-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeneralSans';
    src: url('/assets/fonts/sans/GeneralSans-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeneralSans';
    src: url('/assets/fonts/sans/GeneralSans-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeneralSans';
    src:  url('/assets/fonts/sans/GeneralSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeneralSans';
    src: url('/assets/fonts/sans/GeneralSans-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  
/*Font Grotesk */
@font-face{
    font-family: 'LensGrotesk';
    src: url("/assets/fonts/grotesk/LensGrotesk-ExtraLight.woff")format('woff');
    font-weight: 200;
    font-display:swap;
    font-style:italic;
}
@font-face{
    font-family: 'LensGrotesk';
    src: url("/assets/fonts/grotesk/LensGrotesk-ExtraLightItalic.woff")format('woff');
    font-weight: 200;
    font-display:swap;
    font-style:italic;
}

@font-face{
    font-family: 'LensGrotesk';
    src: url("/assets/fonts/grotesk/LensGrotesk-Thin.woff")format('woff');
    font-weight: 300;
    font-display:swap;
    font-style:normal;
}
@font-face{
    font-family: 'LensGrotesk';
    src: url("/assets/fonts/grotesk/LensGrotesk-ThinItalic.woff")format('woff');
    font-weight: 300;
    font-display:swap;
    font-style:italic;
}
@font-face{
    font-family: 'LensGrotesk';
    src: url("/assets/fonts/grotesk/LensGrotesk-Regular.woff")format('woff');
    font-weight: 400;
    font-display:swap;
    font-style:normal;
}
@font-face{
    font-family: 'LensGrotesk';
    src: url("/assets/fonts/grotesk/LensGrotesk-Medium.woff")format('woff');
    font-weight: 500;
    font-display:swap;
    font-style:normal;
}
@font-face{
    font-family: 'LensGrotesk';
    src: url("/assets/fonts/grotesk/LensGrotesk-MediumItalic.woff")format('woff');
    font-weight: 500;
    font-display:swap;
    font-style:italic;
}

@font-face{
    font-family: 'LensGrotesk';
    src: url("/assets/fonts/grotesk/LensGrotesk-SemiBold.woff")format('woff');
    font-weight: 600;
    font-display:swap;
    font-style:normal;
}
@font-face{
    font-family: 'LensGrotesk';
    src: url("/assets/fonts/grotesk/LensGrotesk-SemiBoldItalic.woff")format('woff');
    font-weight: 600;
    font-display:swap;
    font-style:italic;
}
@font-face{
    font-family: 'LensGrotesk';
    src: url("/assets/fonts/grotesk/LensGrotesk-Bold.woff")format('woff');
    font-weight: 700;
    font-display:swap;
    font-style:normal;
}
@font-face{
    font-family: 'LensGrotesk';
    src: url("/assets/fonts/grotesk/LensGrotesk-BoldItalic.woff")format('woff');
    font-weight: 700;
    font-display:swap;
    font-style:italic;
}